menu,
ol,
ul {
    padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}

.header {
  width: 100%;
  position: fixed;        
  background:	#0C01CF;
  color: white;
}

.left {
  padding-left: 20px;
  float: left;

}

.right {
  padding-right: 30px;
  margin-top: 5px;
  float: right;
}

.logo {
  display: inline;
  margin-top: 5px;
  width: 90px;
  height: 28px;
}

.shopBtn {
  display: inline;
  margin-bottom: 10px;
  margin-left: 20px;
}

.shopBtn, .chartBtn {
  border: none;
  background: #0C01CF;
  color: white;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.shopBtn, .chartBtn:focus { 
  outline: none; 
}

.shopBtn, .chartBtn:active { 
  border-bottom: 1px solid white;
}

.number { 
  margin-top: 10px;
  color: #0C01CF;
  width: 30px;
  height: 20px;
  font-weight: bold;
}

.shop {
  padding-top: 70px;
  margin-left: 25px;
  margin-right: 25px;
}

.shopText {
  width: 100%;
  color:#4A4A4A;
  font-size: 20px;
  font-weight: bold;
}

.list ul {
  list-style-type: none;
}

.list li {
  border: 1px solid #D2CECF;
  text-align: center;
  width: 250px;
  margin-bottom: 20px;
}

.img {
  width: 200px;
}

.container-empty-cart, .container-cart {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: -70px;
  background-color: white;
  opacity: 0.9;
}

.cart-empty, .cart{
  color:#4A4A4A;
  font-size: 20px;
  width: 300px;
  padding-top: 150px;
  display: block;
  margin: 0 auto;
}

.center {
  text-align: center;
}

p.center {
  margin: 50px;
}

.cartImg {
  width: 50px;
  height: 50px;
}

.items {
  float: right;
}

.text {
  font-size: 12px;
  margin-bottom: 2px;
}

.price {
  font-size: 18px;
  display:block;
  margin: 0 auto;
}

.cart-list ul {
  list-style-type: none;
}

.total {
  font-size: 22px;
  font-weight: bold;
}
.totalPrice {
  float: right;
  font-size: 22px;
  font-weight: bold;
}

.back {
  margin-top: 50px;
  padding: 6px 27px;
  color: 	#BEBEBE;
  background-color: white;
  border: 1px solid 	#BEBEBE;
  border-radius: 4px;
  font-size: 14px;
}
.removeDiv{
  float: right;
}
.remove {
  background-color: #D8D8D8;
  color: white;
  border-radius: 50%;
  font-size:8px;
}

@media (width: 1440px) { 
  .list ul {
    -webkit-columns: 5;
    -moz-columns: 5;
    columns: 5;
  }
 }

 @media (max-width: 425px) { 
  .list ul {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
  }
 }

 @media (width: 768px) { 
  .list ul {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
  }
 }

 @media (width: 1024px) { 
  .list ul {
    -webkit-columns: 4;
    -moz-columns: 4;
    columns: 4;
  }
 }


