menu,
ol,
ul {
    padding: 0;
}

button {
  cursor:pointer;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  position: relative;
}

.header {
  width: 100%;
  position: fixed;        
  background:	#0C01CF;
  color: white;
  z-index: 1;
  height: 45px;
}

.right {
  float: right;
  margin-right: 31px;
  margin-top: 7px;
}

.logo {
  font-size:30px !important;
  margin-left:31px;
  padding-top: 5px !important;
}

span {
  font-size:22px;
  font-weight: bold;
}

.shopBtn {
  display: inline-block;
  padding-left: 30px;
}

.shopBtn, .chartBtn {
  border: none;
  background: #0C01CF;
  color: white;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.shopBtn, .chartBtn:focus { 
  outline: none; 
}

.shopBtn, .chartBtn:active { 
  text-decoration: underline;
  color: white;
}

.shopBtn, .chartBtn:visited {
  text-decoration: underline;
  color:white;
}

.number { 
  margin-top: 5px;
  color: #0C01CF;
  width: 38px;
  height: 22px;
  font-weight: bold;
  border-radius: 5px;
}

.shop {
  padding-top: 70px;
  padding-left:31px;
  padding-right: 31px;
}

.list {
  margin-right: 0;
  text-align:center;
}

.shopText {
  width: 100%;
  color:#4A4A4A;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 7px;
}

.card {
  border: 1px solid #D2CECF;
  text-align: center;
  width: 322.5px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #D2CECF;
  border-radius: 4px;
}

.card:hover {
  border-color: #0C01CF;   
}

.pic {
  min-width: 322px;
  display: block;
  margin: 0 auto;
}

.productName {
  color:#656565;
  margin-bottom: 0;
}

.productPrice {
  color:#656565;
  margin-top: 0;
  font-size: 20px;
  margin-bottom:0;
  
}

p.btn {
  margin-top: 5px;
}

.addToCart {
  padding: 9px 25px;
  color: 	#656565;
  background-color: white;
  border: 1px solid 	#656565;
  border-radius: 4px;
  font-size: 14px;
}

.addToCart:active {
  border-color: #0C01CF;  
}

.addToCart:focus {
  outline: none; 
}

.container-empty-cart, .container-cart {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: -70px;
  background-color: white;
  opacity: 0.9;
}

.cart-empty, .cart{
  color:#4A4A4A;
  font-size: 20px;
  width: 300px;
  padding-top: 150px;
  display: block;
  margin: 0 auto;
}

.center {
  text-align: center;
}

p.center {
  margin: 50px;
}

.cartImg {
  width: 50px;
  height: 50px;
  border: 1px solid #BEBEBE;
}

.items {
  float: right;
}

.text {
  font-size: 12px;
  margin-bottom: 2px;
}

.price {
  font-size: 18px;
  display:block;
  margin: 0 auto;
  float: right;
}

.cart-list ul {
  list-style-type: none;
}

.total {
  font-size: 22px;
  font-weight: bold;
}
.totalPrice {
  float: right;
  font-size: 22px;
  font-weight: bold;
}

.back {
  margin-top: 50px;
  padding: 6px 27px;
  color: 	#BEBEBE;
  background-color: white;
  border: 1px solid 	#BEBEBE;
  border-radius: 4px;
  font-size: 14px;
}
.removeDiv{
  float: right;
}

.close {
  margin-left: 5px;
  background-color: #BEBEBE;
  color: white;
  font-size: 10px !important;
  border-radius: 50%;
}

@media (max-width: 380px) { 

  .shop {
    padding-top: 70px;
  }

  span {
    font-size:18px;
    font-weight: bold;
  }
  
  .shopBtn {
    display: inline-block;
    padding-left: 10px;
  }
  
  .shopBtn, .chartBtn {
    border: none;
    background: #0C01CF;
    color: white;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
  }

  .right {
    margin-right: 5px;
    margin-top: 2px;
  }

  .number { 
    margin-top: 10px;
    color: #0C01CF;
    width: 25px;
    height: 20px;
    font-weight: bold;
    border-radius: 5px;
  }

 }

