body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  position: relative;
}

menu,
ol,
ul {
    padding: 0;
}

button {
  cursor:pointer;
}

.container-header {
  width: 100%;
  position: fixed;        
  background:	#0C01CF;
  color: white;
  z-index: 1;
  height: 45px;
}

.right-header {
  float: right;
  margin-right: 31px;
  margin-top: 7px;
}

.logo {
  font-size:30px !important;
  margin-left:31px;
  padding-top: 5px !important;
}

span {
  font-size:22px;
  font-weight: bold;
}

.shop-button {
  display: inline-block;
  padding-left: 30px;
}

.shop-button, .chart-button {
  border: none;
  background: #0C01CF;
  color: white;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.shop-button, .chart-button:focus { 
  outline: none; 
}

.shop-button.active, .chart-button.active {
  text-decoration: underline;
}

.number-button { 
  color: #0C01CF;
  width: 38px;
  font-weight: bold;
  border-radius: 5px;
}

.container-shop {
  padding-top: 70px;
  padding-left:31px;
  padding-right: 31px;
}

.blur {
  filter: blur(13px); 
}

.shop-list {
  margin-right: 0;
  text-align:center;
}

.shop-text {
  width: 100%;
  color:#4A4A4A;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 7px;
}

.container-card {
  border: 1px solid #D2CECF;
  text-align: center;
  width: 322px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  box-shadow: 1px 1px  #D2CECF;
  border-radius: 4px;
}

.container-card:hover {
  border-color: #0C01CF  
}

.card-pic{
  min-width: 310px;
  display: block;
  margin: 0 auto;
}

.product-name {
  color:#656565;
  margin-bottom: 0;
}

.product-price {
  color:#656565;
  margin-top: 0;
  font-size: 20px;
  margin-bottom:0;
  
}

p.btn {
  margin-top: 5px;
}

.cart-list ul {
  list-style-type: none;
}

.cart-list li {
  padding-top: 10px;
}

.addToCart {
  padding: 9px 25px;
  color: 	#656565;
  background-color: white;
  border:1px solid	#656565;
  border-radius: 4px;
  font-size: 14px;
}

.addToCart:active {
  border-color: #0C01CF  
}

.addToCart:hover {
  border-color: #0C01CF  
}

.addToCart:focus {
  outline: none; 
}

.container-cart-empty, .container-cart {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: -70px;
  background-color: white;
  opacity: 0.9;
}

.cart-empty, .cart{
  color:#4A4A4A;
  font-size: 20px;
  width: 300px;
  padding-top: 150px;
  display: block;
  margin: 0 auto;
}

.center {
  text-align: center;
}

p.center {
  margin: 50px;
}

.img-cart {
  width: 50px;
  height: 50px;
  background-position:center;
  background-size: 95px;
  border: 1px solid #BEBEBE;
}

.container-item {
  float: right;
}

.item-name {
  font-size: 12px;
  margin-bottom: 2px;
}

.item-price {
  font-size: 18px;
  display:block;
  margin: 0 auto;
  float: right;
}

.total {
  font-size: 22px;
  font-weight: bold;
}

.totalPrice {
  float: right;
  font-size: 22px;
  font-weight: bold;
}

.back {
  margin-top: 50px;
  padding: 6px 27px;
  color: 	#BEBEBE;
  background-color: white;
  border: 1px solid 	#BEBEBE;
  border-radius: 4px;
  font-size: 14px;
}
.container-close-button{
  float: right;
}

.close {
  margin-left: 5px;
  background-color: #BEBEBE;
  color: white;
  font-size: 10px !important;
  border-radius: 50%;
}

@media (max-width: 380px) { 
  .container-shop {
    padding-top: 70px;
    padding-left:0;
    padding-right: 0;
  }
  .logo {
    margin-left: 2px;
  }
  span {
    font-size:18px;
    font-weight: bold;
  }
  
  .shop-button {
    display: inline-block;
    padding-left: 10px;
  }

  .shop-text {
    margin: 10px;
  }
  
  .shop-button, .chart-button {
    border: none;
    background: #0C01CF;
    color: white;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
  }

  .right-header {
    margin-right: 5px;
    margin-top: 10px;
  }

  .number-button { 
    color: #0C01CF;
    width: 25px;
    font-weight: bold;
    border-radius: 5px;
  }

 }

